#header {
    background-color: white;
    height: 100px;
    width: 100%;
}
#header ul,#header li{
    margin: 0px;
    padding: 0px;
}
#header #header1{
    height: 100px;
    width: 30%;
    float: left;
}
#header #header2{
    height: 100px;
    width: 60%;
    float: left;
}
#header #header3{

    height: 100px;
    width: 10%;
    float: left;
}
#header #header3 #header3-login{
    position: relative;
    left: 50px;
}
#header #header3 #header3-login #img{
    height: 50px;
    width: 50px;
    border-radius: 35px;
    clear: both;
}
#header #header3 #header3-login a{
    position: absolute;
    left: 20px;
    top: 50px;
    height: 50px;
    width: 50px;
    clear: both;
}
#header #header1 li {
    list-style: none;
    color: #077bff;
    float: left;
    position: relative;
    margin: 0px;
    padding: 0px;
    text-align: center ;
}
#header #header1 li a{
    text-decoration: none;
    color: #077bff;
}
#header #header1 #home{
    position: relative;
    left: 10px;
    height: 100px;
    width: 40%;
    float: left;
    
}
#header #header1 #home a{
    position: relative;
    top: 15px;
    height: 50px;
    width: 100%;
    
}
 
#header #header1 #home p{
    height: 35px;
    width: 100%;
    
}
#header #header1 #search-line{
    position: relative;
    height: 50px;
    width: 50%;
    margin: 20px;
    float: left;
} 
#header #header1 #search-line #search{
    position: relative;
    border: 1px solid white;
    border-radius: 10px;
    height: 20px;
    width: 90%;
    color: #077bff;
} 

#header #header1 #search-line #searchId {
    border: 1px solid white;
    border-radius: 15px;
    position: absolute;
    height: 25px;
    width: 50px;
    line-height: 20px;
    top: 0px;
    right: 0px;
    color: #077bff;
}
#header #header2 li {
    list-style: none;
    position: relative;
    top: 20px;
    left: 100px;
    float: left;
    height: 50px;
    width: 100px;
    text-align: center;
    
}
#header #header2 li a{
    text-decoration: none;
    color:#077bff;
    height: 50px;
    width: 50px;
    line-height: 50px;

 }

 #sidebar{
    background-color: white;
    height:800px;
    width: 20%;
    float: left;
    font-family: 'Times New Roman', Times, serif;
    line-height: 50px;
}

#sidebar,#sidebar ul,#sidebar li{
    margin: 0px;
    padding: 0px;
}
#sidebar ul{
    position: relative;
    top: 50px;
}
#sidebar li{
    list-style: none;
    position: relative;
    top: 50px;
    height: 50px;
    width: 100%;
    padding: 0;
    background-color: white;
    color: #077bff;
}
#sidebar li a{
    text-decoration: none;
    color:#077bff;
    
    
}
#sidebar li a #sidebar-img{
    border-radius: 25px;
    height: 50px;
    width: 50px;
    
}
#main {
    background-color: black;
    height:800px;
    width: 80%;
    float: left;
}

/*
#main #main-input{
    position: relative;
    top: 0px;
    left: 20%;
    height: 200px;
    width: 100%;
}

#main #main-input input{
    height: 50px;
    width: 100%;
    clear: both;
}
#main #main-layout{
    height: 600px;
    width: 100%;
}
#main #main-layout #img{
    height: 200px;
    width: 200px;
}
*/
#footer{
    height:100px;
    width: 100%;
    clear: both;
} 