#header {
    background-color: #6bd2e2;
    height: 100px;
    width: 100%;
}
#header ul,#header li{
    margin: 0px;
    padding: 0px;
}
#header #header1{
    height: 50px;
    width: 100%;
    clear: both;
}
#header #header2{
    height: 50px;
    width: 100%;
    clear: both;
}
#header #header1 li {
    list-style: none;
    float: left;
    width: 250px;
    height: 30px;
    position: relative;
    top:5px;
    left: 50px;
    text-align: center  ;
}
#header #header1 #search-line{
    
    border: solid 1px white;
    border-radius: 10px;
    background-color: white;
}
#header #header1 li a{
   text-decoration: none;
   color: white;
   
}
#header #header1 li a #heart-outline{
    height: 15px;
    width: 250px;
 }
 #header #header1 li a #person-outline{
    height: 15px;
    width: 250px;
 }
 #header #header1 li a #cart-outline{
    height: 15px;
    width: 250px;
 }
#header #header1 li #search{
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 10px;
 }
 
 #header #header1 li #search-outline{
    position: absolute;
    top:0px;
    right: 0px;
    width: 40px;
    height: 30px;
    border-radius: 15px;
    line-height: 5px;
 }
#header #header1 li p{
    color: white;
    margin: 5px;
    padding: 0px;
    
 }
 #header #header1 li img{
    width: 50px;
    height: 30px;
 }
#header #header2 li {
    list-style: none;
    position: relative;
    left: 240px;
    float: left;
    width: 200px;
    height: 30px;
    text-align: center;
}
#header #header2 li a{
    text-decoration: none;
    color: white;
 }
#sidebar{
    background-color: #6bd2e2;
    height:800px;
    width: 240px;
    float: left;
    font-family: 'Times New Roman', Times, serif;
}
#sidebar,#sidebar ul,#sidebar li{
    margin: 0px;
    padding: 0px;
}
#sidebar ul{
    position: relative;
    top: 50px;
}
#sidebar li{
    list-style: none;
    position: relative;
    height: 50px;
    width: 200px;
    line-height: 25px;
    padding: 0 20px;
    background-color: #6bd2e2;
}
#sidebar li a{
    text-decoration: none;
    color: white;
    
}
#sidebar li:hover{
    background-color: aqua;
}
#sidebar ul ul{
    position: absolute;
    top: 10px;
    left: 240px;
    visibility: hidden;
}
#sidebar ul li:hover ul{
    visibility: visible;
}
#main {
    background-color: black;
    height:800px;
    width: max-content;
    float: left;
}
#footer{
    height:100px;
    width: 100%;
    clear: both;
}